/* JS Assignment 2 - Abdulrahman Zaki */
/* Start Variables */
:root {
  --f-color: #ddd0c8;
  --s-color: #323232;
}
/* End Variables */

/* Start General Rules */
body {
  background: var(--f-color);
  color: var(--s-color) !important;
}
/* End General Rules */
.quote-sec{width: 600px;}
.quote-sec h3 {
  font-size: 35px;
  font-weight: 600;
  color: var(--s-color);
}
.quote-sec .quote-box {
  margin: 25px 0;
}
.quote-sec .quote-box .quote-txt .quote {
  font-size: 22px;
  word-break: break-word;
}
.quote-sec .quote-box .quote-author {
  font-size: 18px;
  font-style: italic;
}
.quote-sec .btns-box {
  border-top: 1px solid #ccc;
}
.quote-sec .btns-box .btn {
  font-weight: 500;
  border-color: var(--s-color) !important;
  background-color: var(--f-color) !important;
  transition: all 0.6s;
}
.quote-sec .btns-box .btn:hover {
  border-color: var(--s-color) !important;
  background-color: var(--s-color) !important;
  color: var(--f-color) !important;
}